@keyframes gradientAnimation {
    100% {
      background-position: 0% 0%;
    }
    0% {
      background-position: 100% 100%;
    }
  }
  
  .animatedGradient {
    background: linear-gradient(75deg, #ed2525, #c9787b, #f39c9c);
    background-size: 300% 300%; /* Allow for larger background to create smooth transitions */
    animation: gradientAnimation 500ms linear forwards; /* Run once and retain the final state */
  }
  